@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3><b>COURIER MANAGMENT SYSTEM</b></h3>
    <p class="lead">A web application that aims to provide an effective solution for courier management</p>
</div>

